stages:
  - build
  - test
build_image:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/patient-service"
      --dockerfile "${CI_PROJECT_DIR}/patient-service/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}/patient-service:${CI_COMMIT_SHA}"
      --destination "${CI_REGISTRY_IMAGE}/patient-service:latest"


test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-17
  services:
    - name: mongo:7
      alias: mongo
  variables:
    SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/patients
  script:
    - cd patient-service
    - mvn -q test
